@model SecondTaskSupportWebCrew.Models.Services
@{
    ViewBag.Title = "Services";
}
<!-- Start Header Services -->
<div class="header">
    <div class="fullscreen-video">
        <video src="../../images/Typing_on_Keyboard_2821_Videvo.mov" autoplay loop></video>
    </div>
    <div class="header-overlay">
    </div>
    <div class="header-content">
        <h1>Full Motion</h1>
        <p>A responsive video gallery template with a functional lightbox
        designed by Templated and released under the Creative Commons License.</p>
        <a href="#" class="btn"><i class="fa fa-chevron-down"></i></a>
    </div>
</div>
<!-- End Header Services -->

<!--==========================================================================================================-->
<!-- Start Works Section -->
<div class="header-works">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Our Works</h2>
             <div class="col-lg-3 item">
                 <div class="header-section wow fadeInRight" data-wow-duration="1.5s">
                     <img src="../../images/pexels-photo-1853060 (1).jpeg" alt="sora">
                     <div class="header-caption first">
                         <h2>Cards</h2>
                         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                         <button class="btn btn-danger">Read More</button>
                     </div>
                 </div>
            </div>
            <div class="col-lg-3 item">
                <div class="header-section wow fadeInUp" data-wow-duration="1.5s">
                    <img src="../../images/pexels-photo-715546.jpeg" alt="sora">
                    <div class="header-caption second">
                        <h2>Cards</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                        <button class="btn btn-danger">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 item">
                <div class="header-section wow fadeInDown" data-wow-duration="1.5s">
                    <img src="../../images/pexels-photo-1850728.jpeg" alt="sora">
                    <div class="header-caption">
                        <h2>Cards</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                        <button class="btn btn-danger">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 item">
                <div class="header-section wow fadeInLeft" data-wow-duration="1.5s">
                    <img src="../../images/pexels-photo-1535244.jpeg" alt="sora">
                    <div class="header-caption">
                        <h2>Cards</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                        <button class="btn btn-danger">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 item">
                <div class="header-section  wow fadeInLeft" data-wow-duration="1.5s">
                    <img src="../../images/pexels-photo-211050.jpeg" alt="sora">
                    <div class="header-caption five">
                        <h2>Cards</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                        <button class="btn btn-danger">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 item">
                <div class="header-section  wow fadeInLeft" data-wow-duration="1.5s">
                    <img src="../../images/africa-angry-animal-1106452.jpg" alt="sora">
                    <div class="header-caption six">
                        <h2>Cards</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                        <button class="btn btn-danger">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 item">
                <div class="header-section  wow fadeInRight" data-wow-duration="1.5s">
                    <img src="../../images/pexels-photo-324658.jpeg" alt="sora">
                    <div class="header-caption seven">
                        <h2>Cards</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                        <button class="btn btn-danger">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 item">
                <div class="header-section  wow fadeInRight" data-wow-duration="1.5s">
                    <img src="../../images/pexels-photo-1853060 (1).jpeg" alt="sora">
                    <div class="header-caption eight">
                        <h2>Cards</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                        <button class="btn btn-danger">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Works Section -->

<div class="services-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-content">
                    <h2>Etiam veroeros lorem</h2>
                    <p>
                        Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor.
                        Donec sit amet dolor in diam feugiat venenatis.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>