@model IEnumerable<SecondTaskSupportWebCrew.Models.Product>

@{
    ViewBag.Title = "Products";
}
 
<div class="prodcut-header">
    <div class="container">
        <div class="product-content">
            <h3>LOREM IPSUM DOLOR SIT AMET</h3>
            <hr />
            <p>Dolor sit amet nullam pede semper est, vitae luctus metus libero eu augue. Morbi purus sed libero, faucibus adipiscing, commodo.</p> 
            <button>Get Started</button>
        </div>
    </div>
</div>

<div class="products-section">
        <div class="header-pro">
            <h2>20+ Stunning Homepage Layouts</h2>
            <p>Find what you need in one of our fully equipped demos. Easy to import and highly customizable, they make your life easier.</p>
        </div>
        <div class="products-content">
            <div class="item-top">
                <img src="../../images/pexels-photo-323503.jpeg" alt="img" />
                <div class="item-cnt">
                    <span>Home Dark</span>
                    <p>This Session is an Awesome Session from our sessions</p>
                </div>
                <div class="overlay">
                    <button class="btn btn-success">Book Session</button>
                    <button class="btn btn-success">View Session</button>
                </div>
            </div>
 


            @*<div class="pro-item">
                <div class="cont">
                    <h3>Charels' Dekens </h3>
                    <p>This Session is an Awesome Session from our sessions</p>
                    <button class="btn btn-success"> book session</button>
                </div>
            </div>
            <div class="pro-item">
                <div class="cont">
                    <h3>Charels' Dekens </h3>
                    <p>This Session is an Awesome Session from our sessions</p>
                    <button class="btn btn-success"> book session</button>
                </div>
            </div>
            <div class="pro-item">
                <div class="cont">
                    <h3>Charels' Dekens </h3>
                    <p>This Session is an Awesome Session from our sessions</p>
                    <button class="btn btn-success"> book session</button>
                </div>
            </div>
            <div class="pro-item">
                <div class="cont">
                    <h3>Charels' Dekens </h3>
                    <p>This Session is an Awesome Session from our sessions</p>
                    <button class="btn btn-success"> book session</button>
                </div>
            </div>
            <div class="pro-item">
                <div class="cont">
                    <h3>Charels' Dekens </h3>
                    <p>This Session is an Awesome Session from our sessions</p>
                    <button class="btn btn-success"> book session</button>
                </div>
            </div>
            <div class="pro-item">
                <div class="cont">
                    <h3>Charels' Dekens </h3>
                    <p>This Session is an Awesome Session from our sessions</p>
                    <button class="btn btn-success"> book session</button>
                </div>
            </div>
            <div class="pro-item">
                <div class="cont">
                    <h3>Charels' Dekens </h3>
                    <p>This Session is an Awesome Session from our sessions</p>
                    <button class="btn btn-success"> book session</button>
                </div>
            </div>*@
 
        </div>

 
</div>


@*@foreach(var item in Model)
    {
         <div class="pro-item ">
            <h4>@item.Name</h4>
            <img src="../../images/@item.Image" class="img-responsive img-thumb" />
            <p class="price"><strong>Price:</strong> @item.Price $</p>
            <p class="desc"> @item.Description </p>
            <button class="btn btn-success">Buy</button>
         </div>
    }*@   