@{
    ViewBag.Title = "About Us";
} 
<!-- Start Header -->
<div class="header-about">
    <div class="about-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-content">
                    <i class="fa fa-diamond fa-4x"></i>
                    <h2>ETIAM ADIPISCING</h2>
                    <p>MAGNA FEUGIAT LOREM DOLOR EGESTAS</p>
                    <button class="btn">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>  
<!--End About Header -->
<!--===========================================================================================================================-->
<!-- Start About Info -->
<div class="info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img-section">
                    <img src="../../images/studio-light-rainbow-room.jpg" alt="Alternate Text" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="info-explain">
                    <h2>INTEGER VITAE LIBERO ACRISUS EGESTAS PLACERAT SOLLICITUDIN</h2>
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est</p>
                    <button class="btn">More</button>
                </div>
            </div>
       </div>
        <div class="row second-row">
            <div class="col-lg-6">
                <div class="info-explain">
                    <h2>INTEGER VITAE LIBERO ACRISUS EGESTAS PLACERAT SOLLICITUDIN</h2>
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est</p>
                    <button class="btn">More</button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="img-section">
                    <img src="../../images/pexels-photo-1838615.jpeg" alt="Alternate Text" />
                </div>
           </div>
        </div>
    </div>
</div>
<!--===========================================================================================================================-->
<!-- Start About Works -->
<div class="about-works">
    <div class="container">
        <div class="col-lg-12 work-explain">
            <h2>ALIQUAM BLANDIT MAURIS</h2>
            <p>IPSUM DOLOR TEMPUS COMMODO TURPIS ADIPISCING TEMPOR PLACERAT SED AMET ACCUMSAN</p>
        </div>
        <div class="works-desc">
           <div class="row">
               <img src="../../images/pexels-photo-1850728.jpeg" alt="Alternate Text" />
               <img src="../../images/pexels-photo-1535244.jpeg" alt="Alternate Text" />
               <img src="../../images/pexels-photo-1853060 (2).jpeg" alt="Alternate Text" />
               <img src="../../images/audio-mix-mixing-board.jpg" alt="Alternate Text" />
            </div>
            <div class="row">
                <img src="../../images/couples.jpg" alt="Alternate Text" />
                <img src="../../images/analogue-aperture-business-248519.jpg" alt="Alternate Text" />
                <img src="../../images/couple.jpg" alt="Alternate Text" />
                <img src="../../images/pexels-photo-1838615.jpeg" alt="Alternate Text" />
            </div>
        </div>
        <button class="btn">TEMPUS ALIQUAM</button>
    </div>
</div>

<!-- End About Works -->
<!--===========================================================================================================================-->
<!-- Start About Manage Section -->
<div class="about-manage">
    <div class="container">
        <div class="col-lg-12">
            <div class="manage-caption">
                <h2>MAGNA SED CONSEQUAT TEMPUS</h2>
                <p>IPSUM DOLOR TEMPUS COMMODO TURPIS ADIPISCING TEMPOR PLACERAT SED AMET ACCUMSAN</p>
                <button>MANAGE FEUGIAT</button>
            </div>
        </div>
    </div>
</div>
<!-- End About Manage Section -->
<!--===========================================================================================================================-->
<!-- Start About Contact Section -->
<div class="test">
    <div class="about-contact">
        <div class="container">
            <div class="col-lg-12">
                <div class="about-contact-content">
                    <h2>GET IN TOUCH</h2>
                    <p>IPSUM DOLOR TEMPUS COMMODO ADIPISCING</p>
                    <form class="form-group">
                        <div class="form-group input-name">
                            <input type="text" name="Name" placeholder="Name" class="form-control" />
                        </div>
                        <div class="form-group input-email">
                            <input type="Email" name="Email" placeholder="Email" class="form-control" />
                        </div>
                        <div class="form-group text-form">
                            <textarea name="message" placeholder="Message" rows="7" class="form-control"></textarea>
                        </div>
                    </form>
                    <button class="btn first-btn">SUBMIT</button>
                    <button class="btn second-btn">RESET</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- End About Contact Section -->

