@{
    ViewBag.Title = "Contact";
}
<!-- Start Header Contact Us -->
<div class="contactus-header">
    <div class="container">
        <div class="col-lg-12">
            <div class="contactus-caption">
                <h2>Talk To Our</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                <button class="btn contact-btn"><a href="#"data-scroll="contact-form" style="text-decoration:none;color:#FFF">Contact Now</a>   <i class="fa fa-chevron-down"></i></button> 
            </div>
        </div>
    </div>
</div>
<!-- End Header Contact Us -->
<!--=====================================================================================================================-->
<!-- Start details Section -->
<div class="details">
    <div class="container">
        <div class="details-caption">
            <div class="row">
                <div class="col-lg-4 section">
                    <div class="manage">
                        <h3>Manage Matrics</h3>
                        <p>There's a lot going well for Tune's contact page: the beautiful design, the calls-to-action, the clearly displayed contact information.</p>
                    </div>
                    <div class="manage">
                        <h3>Ipsum Adipstics Lorem</h3>
                        <p>There's a lot going well for Tune's contact page: the beautiful design, the calls-to-action, the clearly displayed contact information.</p>
                    </div>
           
                </div>
                <div class="col-lg-4 section">
                    <img src="../../images/couple.jpg" alt="Alternate Text" />
                </div>
                <div class="col-lg-4 section">
                    <div class="manage">
                        <h3>Tempus Nullem</h3>
                        <p>There's a lot going well for Tune's contact page: the beautiful design, the calls-to-action, the clearly displayed contact information.</p>
                    </div>
                    <div class="manage">
                        <h3>Subscript Noah Dolore</h3>
                        <p>There's a lot going well for Tune's contact page: the beautiful design, the calls-to-action, the clearly displayed contact information.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
           </div>
        </div>
    </div>
</div>
<!-- End details Section -->
<!--=====================================================================================================================-->
<div class="contactus-form" id="contact-form">
    <div class="contact-overlay">
        <div class="container">
            <div class="col-lg-12">
                <div class="contactus-inner">
                    <h2>GET IN TOUCH</h2>
                    <p>IPSUM DOLOR TEMPUS COMMODO ADIPISCING</p>
                    <form class="form-group">
                        <div class="form-group input-name">
                            <input type="text" name="Name" placeholder="Name" class="form-control" />
                        </div>
                        <div class="form-group input-email">
                            <input type="Email" name="Email" placeholder="Email" class="form-control" />
                        </div>
                        <div class="form-group text-form">
                            <textarea name="message" placeholder="Message" rows="7" class="form-control"></textarea>
                        </div>
                    </form>
                    <button class="btn first-btn">SUBMIT</button>
                    <button class="btn second-btn">RESET</button>
                </div>
            </div>
        </div>
    </div>
</div>























