@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

  <div class="myslider">
      <div class="inner">
          <div class="item">
              <img src="../../images/dark-and-empty-recording-studio.jpg" alt="studio" />
              <div class="carousel-caption">
                  <h2>This is Our Massive Studio</h2>
                  <p>Ready to chat? Fill out the form on your right to start the conversation</p>
              </div>
          </div>
      </div>
  </div>

 <!-- ==================================================================================================================================== -->
<!-- Start Services -->
<div class="services">
    <div class="container">
        <div class="ser-content">
            <h3>Services</h3>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="ser-icons">
            <div class="icon wow fadeInRight">
                <p><i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i></p>
                <span>E-Commerce</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="icon wow fadeInUp">
                <p><i class="fa fa-desktop fa-5x" aria-hidden="true"></i></p>
                <span>E-Commerce</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="icon wow fadeInLeft">
                <p><i class="fa fa-lock fa-5x" aria-hidden="true"></i></p>
                <span>E-Commerce</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</div>
<!-- End Services -->
<!-- ============================================================================================================================== -->
<!-- Start Portfolio -->
<div class="portfolio">
    <div class="container">
        <div class="content">
            <h3>PORTFOLIO</h3>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="item fitem wow fadeInLeft" >
            <div class="item-inner">
                <span>Round Icons </span>
                <span>Graphic Design</span>
            </div>
        </div>
        <div class="item sitem wow fadeInUp">
            <div class="item-inner">
                <span>Startup Framework</span>
                <span>Website Design</span>
            </div>
        </div>
        <div class="item titem wow fadeInRight">
            <div class="item-inner">
                <span>Treehouse</span>
                <span>Website Design</span>
            </div>
        </div>
        <div class="item foitem wow fadeInLeft" >
            <div class="item-inner">
                <span>Round Icons </span>
                <span>Graphic Design</span>
            </div>
        </div>
        <div class="item fvitem wow fadeInUp">
            <div class="item-inner">
                <span>Startup Framework</span>
                <span>Website Design</span>
            </div>
        </div>
        <div class="item sxitem fadeInRight">
            <div class="item-inner">
                <span>Treehouse</span>
                <span>Website Design</span>
            </div>
        </div>
    </div>
</div>
<!-- End Portfolio -->

 <!-- ============================================================================================================================== -->
<!-- Start Sections  -->
<div class="about">
    <div class="container">
        <div class="about-section">
            <h3>my works</h3>
            <hr style="margin-left:530px;">
            <div class="cont">
                <img src="../../images/audio-audio-mixer-bass-690779.jpg" class="wow fadeInLeft" alt="photo">
                <p style="margin-left:50px;" class="wow fadeInRight" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more  Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolvedVarious versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)..</p>
            </div>
            <div class="cont">
                <p style="margin-right:50px;" class="wow fadeInRight">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more  Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolvedVarious versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)..</p>
                <img src="../../images/analogue-aperture-business-248519.jpg" alt="photo" class="wow fadeInLeft">
            </div>

            <div class="cont">
                <img src="../../images/studio-light-rainbow-room.jpg" alt="photo" class="wow fadeInRight">
                <p class="wow fadeInRight" style="margin-left:50px;" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more  Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolvedVarious versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)..</p>
            </div>
            <div class="cont">
                <p class="wow fadeInRight" style="margin-right:50px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more  Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolvedVarious versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)..</p>
                <img class="wow fadeInLeft" src="../../images/adult-analogue-aperture-408518.jpg" alt="photo">
            </div>
        </div>
    </div>
</div>
<!-- End Section -->
<!-- ============================================================================================================================== -->
  <!-- Start Contact Form -->
<div class="contact">
    <div class="container">
        <div class="content">
            <h2>CONTACT US</h2>
            <p>Lorem ipsum dolor sit amet consectetur. </p>
        </div>
        <div class="form">
            <div class="field">
                <input type="text" placeholder="Your Name" id="name">
            </div>
            <div class="field">
                <input type="text" placeholder="Your Password" id="name">
            </div>
            <div class="field">
                <input type="text" placeholder="Your Email" id="name">
            </div>
        </div>
        <textarea class="txt" name="text" id="text" rows="2" cols="2"></textarea>
        <button style="margin-left:10px;">Send Message</button>
    </div>
</div>
<!-- End Contact Form -->